bin
build
classes
node_modules
.vscode/settings.json
!/.idea
/.idea/*
!/.idea/runConfigurations/
*/*.iml
*/target
**/target
/logs
*/logs
*.iml
**/*.log
common/*.key
**/target/**
*/.settings
**/.DS_Store
**/*.jar
**/*tar.gz

out